In [1]:
import pandas as pd
import numpy as np

In [ ]:
#Two observable trends
# The total budget of a school increases wit more students
#The number of students and budget does not impact school performance

In [2]:
school_data_to_load = "C:/Users/KerwinH/Documents/Data Analytics/Homework/Homework4/schools_complete.csv"
student_data_to_load = "C:/Users/KerwinH/Documents/Data Analytics/Homework/Homework4/students_complete.csv"

In [3]:
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [7]:
school=school_data_complete.drop_duplicates('school_name')

In [8]:
school_count=school['school_name'].count()
school_count

15

In [9]:
student_name= school_data_complete['student_name'].count()
student_name

39170

In [10]:
school=school_data_complete.drop_duplicates('budget')
school

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574
16013,16013,Olivia Short,F,11th,Cabrera High School,94,94,6,Charter,1858,1081356
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
22847,22847,Daniel Rodriguez,M,11th,Holden High School,86,92,8,Charter,427,248087
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130

In [11]:
total_budget= school['budget'].sum()

In [12]:
average_math= school_data_complete['math_score'].mean()
average_math

78.98537145774827

In [13]:
average_reading= school_data_complete['reading_score'].mean()
average_reading

81.87784018381414

In [14]:
passing_math=student_data.loc[student_data['math_score']>=70]['math_score'].count()
passing_math/school_data_complete['student_name'].count()

0.749808526933878

In [15]:
passing_reading=student_data.loc[student_data['reading_score']>=70] ['reading_score'].count()
passing_reading/school_data_complete['student_name'].count()

0.8580546336482001

In [16]:
overall_passing= average_math+ average_reading
overall_passing/2

80.43160582078121

In [17]:
district_df= pd.DataFrame({"Total Schools": [school_count],"Total Students":[student_name],
                           "Total Budget" : [total_budget], "Average Math Score": [average_math],
                           "Average Reading Score": [average_reading], "% Passing Math": [passing_math/student_name],
                           "% Passing Reading": [passing_reading/student_name]
                           , "% Overall Passing Rate": [overall_passing/2]})

In [18]:
district_df['Total Budget'] = district_df['Total Budget'].map('$ {:,.2f}'.format)

In [19]:
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$ 24,649,428.00",78.985371,81.87784,0.749809,0.858055,80.431606

In [20]:
school_names=school_data_complete.groupby(['school_name'])

In [21]:
schools_by_type=school_data.groupby(['type'])
schools_by_type.count()

          School ID  school_name  size  budget
type
Charter           8            8     8       8
District          7            7     7       7

In [22]:
total_students= school_names.size()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [23]:
budget_total=school_data.groupby('school_name')['budget'].sum()
budget_total

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [24]:
per_student_budget=budget_total/total_students
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
average_math_score= student_data.groupby('school_name')['math_score'].sum()/total_students
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
dtype: float64

In [26]:
average_reading_score=student_data.groupby('school_name')['reading_score'].sum()/total_students
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [27]:
math_passing=student_data.loc[student_data['math_score']>=70, :]. groupby('school_name')['math_score'].count()
math_passing/total_students

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [28]:
reading_passing=student_data.loc[student_data['reading_score']>=70, :].groupby('school_name')['reading_score'].count()
reading_passing/total_students

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [29]:
passing_overall= (math_passing/total_students)+ (reading_passing/total_students)
passing_overall/2

school_name
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
dtype: float64

In [46]:
school_summary=pd.DataFrame({ "School Type":schools_by_type, "Total Students": total_students,
 "Total Student Budget": budget_total, "Per Student Budget": per_student_budget, "Average Math Score": average_math_score, "Average Reading Score":average_reading_score,
"% Passing Math": [math_passing/total_students], "% Passing Reading": [reading_passing/total_students], "% Overall Passing": [passing_overall/2]})

ValueError: array length 1 does not match index length 15

In [45]:
school_summary

NameError: name 'school_summary' is not defined

In [ ]:
top5=school_summary.sort_values(by='% Overall Passing', ascending=False)
top5=top5.head(5)
top5

In [117]:
bottom5=school_summary.sort_values("% Overall Passing", ascending=True)
bottom5

,School Type,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,School ID school_name size budget...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 1659.0 Ca...,16805.0,school_name Bailey High School 0.743067 ...

In [118]:
ninth_grade=student_data.loc[student_data['grade']=='9th'].groupby('school_name')['math_score'].mean()
tenth_grade=student_data.loc[student_data['grade']=='10th'].groupby('school_name')['math_score'].mean()
evelventh_grade=student_data.loc[student_data['grade']=='11th'].groupby('school_name')['math_score'].mean()
twelveth_grade=student_data.loc[student_data['grade']=='12th'].groupby('school_name')['math_score'].mean()

In [119]:
math_scores_by_grade=pd.DataFrame({"9th":[ninth_grade], "10th":[tenth_grade], "11th": [evelventh_grade], "12th": [twelveth_grade]})
math_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

In [120]:
ninth_grade=student_data.loc[student_data['grade']=='9th'].groupby('school_name')['reading_score'].mean()
tenth_grade=student_data.loc[student_data['grade']=='10th'].groupby('school_name')['reading_score'].mean()
eleventh_grade=student_data.loc[student_data['grade']=='11th'].groupby('school_name')['reading_score'].mean()
twelveth_grade=student_data.loc[student_data['grade']=='12th'].groupby('school_name')['reading_score'].mean()

In [121]:
reading_scores_by_grade=pd.DataFrame({"9th": [ninth_grade], "10th": [tenth_grade], "11th": [eleventh_grade], "12th": [twelveth_grade]})
reading_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...

In [122]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [126]:
school_data_complete['spending bins']=pd.cut(school_data_complete['budget']/school_data_complete['size'], spending_bins, labels=group_names)

In [128]:
spending=school_data_complete.groupby('spending bins')

In [130]:
math_avg=spending['math_score'].mean()

In [131]:
reading_avg=spending['reading_score'].mean()

In [132]:
math_pass=school_data_complete[school_data_complete['math_score']>=70].groupby('spending bins')['Student ID'].count()/spending['Student ID'].count()

In [133]:
reading_pass=school_data_complete[school_data_complete['reading_score']>=70].groupby('spending bins')['Student ID'].count()/spending['Student ID'].count()

In [135]:
overall_pass=school_data_complete[school_data_complete['reading_score']>=70 & (school_data_complete['math_score'] >= 70)].groupby('spending bins')['Student ID'].count()/spending['Student ID'].count()

In [137]:
spending_by_school=pd.DataFrame({"Average Math Score": [math_avg], "Average Reading Score":[reading_avg], "% Passing Math": [math_pass],
    "% Passing Reading": [reading_pass], "% Overall Passing Rate": [overall_pass]})

In [138]:
spending_by_school

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,spending bins <$585 83.363065 $585-615 ...,spending bins <$585 83.964039 $585-615 ...,spending bins <$585 0.937029 $585-615 ...,spending bins <$585 0.966866 $585-615 ...,spending bins <$585 1.0 $585-615 1.0 ...

In [149]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [150]:
school_data_complete['size bins']= pd.cut(school_data_complete['size'], size_bins, labels=group_names)

In [151]:
school_size=school_data_complete['size bins']